{{ define "templates/base/footer.html"}}
<br><br><br><br><br><br><br><br><br><br>
<footer class="footer" style="position: relative; left: 0; bottom: 0; width: 100%; text-align: center;">
    <small class="text-muted">made with <font color="crimson">&heartsuit;</font> by The TurtleCoin Developers</small></center>
    <br>
    
<a href="https://turtlepay.io">
  <img src="https://badge.turtlepay.io/" alt="Powered by TurtlePay" />
  </a>
</footer>
<br>
<br>
<div class="text-center">
  <img src="https://raw.githubusercontent.com/turtlecoin/brand/master/logo/turtlecoin.white.svg" height="32px" width="32px" style="opacity:0.1;" alt="TurtleCoin" class="img-fluid">
</div>
<br>
<br>
<br>
<br>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>

</body>
</html>
{{ end }}

